<div class="row">
  <!-- Keresés -->
  <div class="col-12 col-md-6 d-flex mb-3">
    <input name="phrase" (keyup)="onChangePhrase($event)" class="form-control px-2" type="text"
      placeholder="Keresés...">
    <select class="custom-select ml-2 px-2" (change)="onChangeKey($event)">
      <option *ngFor="let col of cols" [value]="col.key" [selected]="setDefault(col.key)">
        {{ col.label }} alapján</option>
    </select>
  </div>
  <div class="col-12 mb-3">
    <!-- Táblázat -->
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th *ngFor="let col of cols">
            {{ col.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list$ | async | filter:phrase:filterKey">
          <td *ngFor="let col of cols">
            {{ user[col.key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
