<div class="row ml-1">
  <div class="col-12 text-center">
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="form-signin my-5">
      <h6><strong>Bejelentkezés</strong></h6>
      <p class="text-secondary mb-4"><small>alkalmazás: Mesterember App</small>
      <p>
      <p *ngIf="emailField.invalid && emailField.touched" class="error-message">
        Kérjük, adjon meg egy érvényes e-mail címet.</p>
      <label for="inputEmail" class="sr-only">E-mail cím</label>
      <input type="email" name="email" [(ngModel)]="user.email" #emailField="ngModel" email id="inputEmail"
        class="form-control mb-2" placeholder="E-mail cím" required autofocus>
      <label for="inputPassword" class="sr-only">Jelszó</label>
      <input type="password" id="inputPassword" name="password" [(ngModel)]="user.password" #passwordField
        class="form-control" placeholder="Jelszó" required>
      <p class="text-secondary my-4">
        Nem a saját számítógépe?<br>
        Használjon privát ablakot a belépéshez.
      </p>
      <button class="btn btn-lg btn-primary btn-block" type="submit"
        [disabled]="loginForm.invalid">Bejelentkezés</button>

      <div *ngIf="serverError && loginForm.submitted" class="alert alert-danger mt-3">
        {{ serverError }}
      </div>

    </form>
  </div>
</div>
