<div class="row">
  <div class="col-12 col-md-6">
    <img width="600"
      class="mb-5"
      src="../../../assets/counties_of_hungary.png"
      alt="Magyarország megyéi">
  </div>
    <div class="col-12 col-md-6 cities p-5">
      <dl *ngFor="let county of list$ | async">
        <dt>{{ county.name }}</dt>
        <dd>
          <ul class="list-unstyled">
            <li>
              <a class="link-primary" href="">{{ county.cities.slice(0, 1) }}</a>
              ({{ county.cities.length }})
            </li>
            <li *ngIf="county.cities.length>1">
              <a class="link-primary" href="#">{{ county.cities.slice(1, 2) }}</a>
              ({{ county.cities.length - 1 }})
            </li>
            <li *ngIf="county.cities.length>2">
              <a class="link-primary" href="#">{{ county.cities.slice(2, 3) }}</a>
              ({{ county.cities.length }})
            </li>
            <li *ngIf="county.cities.length>3">
              <a class="link-primary" href="#">{{ county.cities.slice(3, 4) }}</a>
              ({{ county.cities.length }})
            </li>
            <li *ngIf="county.cities.length>4">
              <a class="link-primary" href="#">{{ county.cities.slice(4, 5) }}</a>
              ({{ county.cities.length -3 }})
            </li>
            <li *ngIf="county.cities.length>5">
              <a class="link-primary" href="#">{{ county.cities.slice(5, 6) }}</a>
              ({{ county.cities.length -2 }})
            </li>
          </ul>
        </dd>
      </dl>
    </div>
</div>
