/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 5rem;
  background-image: url('src/app/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  height: 700px;
}

// @media screen and (max-width: 992px) {
//   body {
//     background-image: none;
//   }
// }
